<form method="POST" action="/add/quick" style="display: flex; flex-direction: column; gap: 12px; margin-top: 16px;">
    <div class="fieldholder">
        <label>Insert task details:*</label>
        <textarea name="prompt" placeholder="Try to keep it as simple as possible, alright?" required></textarea>
    </div>
    <div style="display: flex; gap: 16px; align-items: center; width: 100%; justify-content: flex-end;">
        <button class="btn btn-success" type="submit">Save Task</button>
    </div>
</form>